body{
    margin: 0;
    background-color: #cce6c1 ;
    font-family: 'Montserrat', sans-serif;
}
#logo img{
    width: 100px;
    height: 100px;
}
section{
    display: flex;
}
#hero-image{
    background-image: url(3.jpg);
    width: 100%;
    height: 100%;
}
#logo{
    width: 25%;
}
#Nav-bar{
    width: 50%;
    padding-left: 50%;
    padding-top: 20px;
}
h1 {
    font-size: 50px;
}
.red-color {
    color: rgb(163, 10, 40);
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 2%;
}
.half-width img{
    width: 80%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(rgb(172, 3, 3) rgb(177, 47, 7));
    padding: 10px 40px;
    color: rgb(0, 0, 0);
    font-weight: 700px;
    border-radius: 5px;
}
#hero-image img{
    background-image: url(moodboard/3.jpg);
    background-repeat: no-repeat;
}
h1 .main-area{
    font-size: 500px;
}
.flexible container{
    display: flex;
}
#flex-menu-1{
    width: 33.33%;
    height: auto;
}
#flex-menu-2{
    width: 33.33%;
    height: auto;
}
#flex-menu-3{
    width: 33.33%;
    height: auto;
}
footer{
    background-color: navy;
    margin: 50px 0;
    padding: 25px;
    text-align: center;
    font-size: 18px;
    color: papayawhip;
    
}
#flex-menu-1{
    display: flex;
}
.menu{
    width: 50%;
    color: rgb(22, 37, 37);
    padding: 20px 0 20px 0;
}
